[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "vim/pack/plugins/start/commentary"]
	path = vim/pack/plugins/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/pack/plugins/start/editorconfig-vim"]
	path = vim/pack/plugins/start/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
